*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/keys
ktlint.jar
keystore.properties
keystore/
.kotlin/
fix_mipmap.py
rename_package.py
replace_logo.py
dr_quran_wallpaper.webp
quran_wallpaper.webp
*.jks
*.keystore
*.p12
*.key